.favorito {
  color: goldenrod;
}

hr {
  border-color: lightgray;
}

.tvdb-icon {
  width: 16px;
  height: auto;
}

.botao {
  width: 50%;
}

.btn-group {
  width: 100%;
}

.card-block {
  padding-top: 0;
}
