<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <input #autPesquisa [(ngModel)]="nomeSerie" (keyup.enter)="pesquisar()" type="text" class="form-control" placeholder="Informe uma série..." />
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="pesquisar()"><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
    </div>
  </div>
</div>
<app-resultados [series]="series" [seriesView]="seriesView"></app-resultados>
